.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    height: 90vh;
  }
  .card-title{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 99, 71);
  }
  li:hover {
    cursor: pointer;
  }
  