.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    height: 90vh;
  }
  .card-title{
    background-color: aquamarine;
  }
  li:hover {
    cursor: pointer;
  }
  